@{
    ViewData["Title"] = "Xóa môn học ";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model MonHoc
<div class="ms-2 mx-2">
    <h3>Bạn có chắc muốn xóa môn học này?</h3>
    <hr />
    <dl class="row list-group list-group-flush">
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2 ">
                @Html.DisplayNameFor(model => model.TenMon)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.TenMon)
            </dd>
        </div>
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model=> model.HeSoMon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeSoMon)
            </dd>
        </div>
    </dl>
    <form asp-action="Delete">
        <div class="d-grid gap-2 d-md-block">
            <input type="hidden" asp-for="@Model.MonHocID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
