@{
    ViewData["Title"] = "Xóa sinh viên " + Model.LopID;
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model HocSinh
<div class="ms-2 mx-2">
    
    <h3>Bạn có muốn xóa học sinh này không?(Bảng điểm sẽ được tự động xóa)</h3>
    
    <hr />
    <dl class="row list-group list-group-flush">
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2 ">
                <div class="bg-gradient">Họ</div>
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.Ho)
            </dd>
        </div>
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2">
                <div class="bg-gradien">Tên</div>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ten)
            </dd>
        </div>
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2">
                <div class="bg-gradien">Lớp học</div>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lop.LopID)
            </dd>
        </div>
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2">
                <div class="bg-gradien">Ngày sinh</div>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NgaySinh)
            </dd>
        </div>
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2">
                <div class="bg-gradien">Nữ</div>
            </dt>
            <dd class="col-sm-10">
                @{
                    if(Model.Nu)
                    {
                        <div>True</div>
                    }
                    else
                    {
                        <div>False</div>
                    }
                }
            </dd>
        </div>
        <div class="list-group-item list-group-item-action">
            <dt class="col-sm-2">
                <div class="bg-gradien">Ghi chú</div>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GhiChu)
            </dd>
        </div>
    </dl>
    <form asp-action="Delete">
        <div class="d-grid gap-2 d-md-block">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" value="Xóa" class="btn btn-danger"/> |
            <a class="btn btn-primary" asp-action="Index" asp-route-lopid="@Model.LopID">Quay lại</a>
        </div>
    </form>
</div>
