@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity

@inject SignInManager<AccountUser> SignInManager
@inject UserManager<AccountUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Danh sách lớp";
}
@model IEnumerable<Lop>

<div class="m-3">
    @* <table class="table table-striped">
        <thead>
            <tr>
                <th>Lớp</th>
                <th>Giáo viên chủ nhiệm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td><a asp-controller="HocSinh" asp-action="Index" asp-route-LopID="@s.LopID">@s.LopID</a></td>
                    <td>@s.GVCN</td>
                    <td><a asp-action="Edit" asp-route-id="@s.LopID">Edit</a> | <a asp-action="Delete" asp-route-id="@s.LopID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table> *@
    <div class="mb-3 row row-cols-1 row-cols-md-3 g-4">
        @foreach(var s in Model){
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5><a class="card-title" asp-controller="HocSinh" asp-action="Index" asp-route-LopID="@s.LopID">@s.LopID</a></h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary ">Giáo viên chủ nhiệm: @s.GVCN</h6>
                        <p class="card-text">Số lượng thành viên: @s.dshs.Count</p>
                        @if (user.role == AccountUser.ADMIN)
                        {
                            <a class="card-link" asp-action="Edit" asp-route-id="@s.LopID">Sửa</a>
                            <a class="card-link" asp-action="Delete" asp-route-id="@s.LopID">Xóa</a>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
    @if (user.role == AccountUser.ADMIN)
    {
        <a asp-action="Create" class="btn btn-primary">Thêm lớp học</a>
    }
</div>