@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AccountUser> SignInManager
@inject UserManager<AccountUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
@model IEnumerable<ChiTietGiangDay>
@{
    ViewData["Title"] = "Chi tiết giảng dạy " + ViewBag.GiaoVien;
}
<div class="ms-2 mx-2">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID bảng</th>
                <th>Lớp</th>
                
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.ChiTietGiangDayId</td>
                    <td>@s.LopId</td>
                    @if (user.role == AccountUser.ADMIN)
                    {
                        <td><a asp-action="Delete" asp-route-id="@s.ChiTietGiangDayId">Xóa</a></td>
                        
                    }



                    @* <td><a asp-action="Edit" asp-route-id="@s.LopID">Edit</a> | <a asp-action="Delete" asp-route-id="@s.LopID">Delete</a></td> *@


                </tr>
            }
        </tbody>
    </table>
    @if (user.role == AccountUser.ADMIN)
    {
    <a asp-action="Create" asp-route-giaovienid=@ViewBag.GiaoVienID class="btn btn-primary">Thêm chi tiết</a>
        
    }
   
</div>