@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AccountUser> SignInManager
@inject UserManager<AccountUser> UserManager
@model IEnumerable<DiemSo>
@{
    var user = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Bảng điểm học sinh " +  ViewBag.HocSinh;
}
<div class="ms-2 mx-2">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Điểm ID</th>
                <th>Môn học</th>
                <th>Tên học sinh</th>
                <th>Điểm hs 1_1</th>
                <th>Điểm hs 1_2</th>
                <th>Điểm hs 1_3</th>
                <th>Điểm hs 2_1</th>
                <th>Điểm hs 2_2</th>
                <th>Điểm hs 3</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.DiemSoID</td>
                    <td>@s.MonHoc?.TenMon</td>
                    <td>@s.HocSinh?.Ho  @s.HocSinh?.Ten</td>
                   
                    <td>@s.DiemHeSo1_1</td>
                    <td>@s.DiemHeSo1_2</td>
                    <td>@s.DiemHeSo1_3</td>
                    <td>@s.DiemHeSo2_1</td>
                    <td>@s.DiemHeSo2_2</td>
                    <td>@s.DiemHeSo3</td>
                    @if (user.role != AccountUser.HOCSINH)
                    {
                        <td><a asp-action="Edit" asp-route-id="@s.DiemSoID">Sửa</a></td>
                        
                    }



                    @* <td><a asp-action="Edit" asp-route-id="@s.LopID">Edit</a> | <a asp-action="Delete" asp-route-id="@s.LopID">Delete</a></td> *@


                </tr>
            }
        </tbody>
    </table>
    
</div>